* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: #f9f6f2; 
    color: #333;
    line-height: 1.6;
}

/* HEADER */
header.contenedor_encabezado {
    background-color: #e0ded3; 
    text-align: center;
    padding: 2rem 1rem;
    border-bottom: 2px solid #ccc;
}

.titulo_encabezado {
    font-size: 2.5rem;
    margin: 0;
    color: #5c5c5c;
}

.item_encabezado {
    width: 90px;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

/* NAV */
nav.contenedor_navbar {
    display: flex;
    background-color: #b6cfc6; 
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 15px;
}

.item_navbar {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.item_navbar:hover {
    background-color: #8baea3; 
}

/* SECTION */
section {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.contenedor_vision h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #555;
}

.contenedor_vision p {
    font-size: 1.1rem;
    color: #444;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.contenedor_sal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.variedad_sal {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.07);
    padding: 1rem;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.variedad_sal h3 {
    min-height: 3.5em; 
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.variedad_sal img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.variedad_sal h3 {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 0.5rem;
}

.variedad_sal p {
    font-size: 0.95rem;
}

/* FOOTER */
footer.contenedor_pie {
    background-color: #e0ded3;
    text-align: center;
    padding: 2rem 1rem;
    border-top: 2px solid #ccc;
}
footer h2 {
    margin-bottom: 1rem;
}
footer img {
    width: 35px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}
footer img:hover {
    transform: scale(1.1);
}
