* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Georgia, serif;
    background-color: #EDE8DC; 
    color: #333;
    line-height: 1.6;
}

/* HEADER */
header.contenedor_encabezado {
    text-align: center;
    border-bottom: 2px solid #ccc;
}

/*IMG logo*/
.img_encabezado{
    width: 100%
}

/* NAV */
nav.contenedor_navbar {
    background-color: #6F826A;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea los elementos verticalmente */
    flex-wrap: nowrap; /* Evita que los elementos se vayan a otra línea */
    padding: 1rem;
    gap: 15px;
}

.img_navbar {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.item_navbar {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block; /* Asegura que los enlaces no sean de bloque */
}

.item_navbar:hover {
    background-color: #a3be9d;
    color: #7d4f1d;
}

/* SECTION */
section {
    padding: 2rem;
    max-width: 1100px;
    margin: auto;
}
h2 {
    font-size: 2rem;
    color: #5a5a5a;
    margin-bottom: 1rem;
}
p {
    font-size: 1.1rem;
    color: #444;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/* IMG */
.contenedor_imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img_extraccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.img_salar {
    width: 100%;
    max-width: 260px;
    min-width: 260px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Testimonios */
.contenedor_testimonios blockquote {
    font-style: italic;
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    margin: 1.5rem 0;
    color: #666;
}

/* FOOTER */
footer.contenedor_pie {
    background-color: #6F826A;
    text-align: center;
    padding: 2rem 1rem;
    border-top: 2px solid #ccc;
}
footer h2 {
    margin-bottom: 1rem;
    color: #EDE8DC;
}
footer img {
    width: 35px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}
footer img:hover {
    transform: scale(1.1);
}